h1 {
    text-align:center;
    background-color: rgb(233, 168, 82);
}
h2{
    text-align: center;
}
h3{
    font-style: oblique;
    background-color: rgba(240, 72, 170, 0.568);
    text-align: center;
}
.bolo {
    font-size: larger;
    border-color: rgb(180, 147, 1);
    border-width: 20px;
    border-style: solid;
    border-radius: 12px 50px 2px 120px;
}
p {
    text-align: center;
    font-size: medium;
}
strong {
    font-size: larger;
}

.historia{
    background-color: rgba(121, 30, 30, 0.521)

}
.brilho {
   color: aqua;
    font-style: italic
}
body {
    background-color: rgba(255, 178, 127, 0.425);
    text-align:center;
  }
  .centralizar {
    text-align: center;
    display: inline-block;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    border-color: pink;
    border-width: 30px;
    border-style: solid;
  }
